@model PressCenter.Web.ViewModels.News.NewsViewModelPagination
@{
    this.ViewData["Title"] = "Noticias de España sin editar";
}
<div class="container">
    
    <div class="row">
        <div class=" col-md-8">
            <h4 class="text-secondary">Noticias sin editar @Model.ItemsCount (hoy: @Model.ItemsTodayCount)</h4>
            <hr />
            @foreach (var news in Model.News)
            {
                <div class="container news">
                    <h5 class="mt-0">
                        <a class="text-dark" asp-area="" asp-controller="" asp-action="">
                            @news.Title
                        </a>
                    </h5>

                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid img-max mr-3" src=@news.ImageUrl alt="@news.Source.ShortName">
                        </div>
                        <div class="col-md-9">
                            <p class="text-justify">
                                @news.ShortContent
                            </p>
                        </div>
                    </div>
                    <p class="text-right">
                        <a href=@news.OriginalUrl>@news.Source.ShortName</a>
                        <span class="text-secondary">
                            <i class="far fa-clock"> @news.ShortDate</i>
                        </span>
                    </p>
                </div>

                @*<div class="media news">
                @if (@news.ImageUrl != null)
                {
                    <img class="img-fluid img-max mr-3" src=@news.ImageUrl alt="Generic placeholder image">
                }
                <div class="media-body">
                    <h5 class="mt-0">
                        <a class="text-dark" asp-area="" asp-controller="" asp-action="">
                            @news.Title
                        </a>
                    </h5>
                    <div class="text-right">
                        <a href=@news.OriginalUrl>@news.Source.ShortName</a>
                        <span class="text-secondary">
                            <i class="far fa-clock"> @news.ShortDate</i>
                        </span>
                    </div>
                    <p class="text-justify">
                        @news.Content
                    </p>
                </div>
            </div>*@
                <hr />
            }
            <partial name="_PaginationPartial" model="@Model" />
        </div>
        <div class="col-md-4">
            <h4 class="text-secondary">Periódicos hoy</h4>
            <hr />
        </div>
    </div>    
</div>

